<div class="col-md-6 well">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.form)">
        <fieldset>
            <legend>User</legend>
            <div class="form-group">
                <label for="name">Name</label>
                <input #name="ngForm" ngControl="name" id="name" type="text" class="form-control" required minlength="3">
                <div  *ngIf="name.touched && name.errors">
                     <div *ngIf="name.errors.required" class="alert alert-danger">
                            Name is required
                     </div>
                      <div *ngIf="name.errors.minlength" class="alert alert-danger">
                            Name should be minimum 3 characters
                     </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input ngControl="email" id="email" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input ngControl="phone" id="phone" type="text" class="form-control">
            </div>
            <legend>Address</legend>
            <div class="form-group">
                <label for="street">Street</label>
                <input ngControl="street" id="street" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="suite">Suite</label>
                <input ngControl="suite" id="suite" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input ngControl="city" id="city" type="text" class="form-control">
            </div>
              <div class="form-group">
                <label for="zipCode">ZipCode</label>
                <input ngControl="zipCode" id="zipCode" type="text" class="form-control">
            </div>
             <div class="form-group">
                <button [disabled]="!f.valid" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>
    </form>
</div>